extensions/interests/v1/pbb-music.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://pbb.ai/extensions/music/v1"
           xmlns:int="http://pbb.ai/extensions/interests/v1"
           xmlns:pbb="http://pbb.ai/core/v1"
           elementFormDefault="qualified">
  <xs:import namespace="http://pbb.ai/core/v1" schemaLocation="../../../core/v1/pbb-core.xsd"/>
  <xs:import namespace="http://pbb.ai/extensions/interests/v1" schemaLocation="./pbb-interests.xsd"/>
  <xs:element name="music">
    <xs:complexType><xs:sequence>
      <xs:element name="genre" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="artist" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence></xs:complexType>
  </xs:element>
</xs:schema>