extensions/interests/pbb-music.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://pbb.ai/extensions/music"
           xmlns:int="http://pbb.ai/extensions/interests"
           xmlns:pbb="http://pbb.ai/core/v1"
           elementFormDefault="qualified"
           version="1.0">

  <xs:import namespace="http://pbb.ai/core/v1"
             schemaLocation="../../core/pbb-core.xsd"/>
  <xs:import namespace="http://pbb.ai/extensions/interests"
             schemaLocation="./pbb-interests.xsd"/>

  <xs:element name="music">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="genre" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="artist" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
