core/pbb-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://pbb.ai/core/v1"
           xmlns:pbb="http://pbb.ai/core/v1"
           elementFormDefault="qualified"
           version="1.1">

  <xs:annotation>
    <xs:documentation>
      PBB Core Schema — Version 1.1
      Root kernel for persistent personality profiles.
      Wildcards are provided for infinite extensibility.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="personality_profile">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="metadata" type="pbb:MetadataType"/>
        <xs:element name="identity" type="pbb:IdentityType" minOccurs="0" maxOccurs="1"/>
        <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required"/>
      <xs:attribute name="update_policy" type="xs:string" default="incremental"/>
      <xs:attribute name="persistence" type="xs:string" default="user_defined"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="MetadataType">
    <xs:sequence>
      <xs:element name="created" type="xs:date"/>
      <xs:element name="last_updated" type="xs:date"/>
      <xs:element name="confidence" type="xs:string" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IdentityType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="birthdate" type="xs:date" minOccurs="0"/>
      <xs:element name="birthplace" type="xs:string" minOccurs="0"/>
      <xs:element name="location" type="xs:string" minOccurs="0"/>
      <xs:element name="gender_identity" type="xs:string" minOccurs="0"/>
      <xs:element name="neurotype" type="xs:string" minOccurs="0"/>
      <xs:element name="health" type="xs:string" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
