extensions/personality/v1/pbb-personality.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://pbb.ai/extensions/personality/v1"
           xmlns:pbb="http://pbb.ai/core/v1"
           elementFormDefault="qualified">
  <xs:import namespace="http://pbb.ai/core/v1" schemaLocation="../../../core/v1/pbb-core.xsd"/>
  <xs:element name="personality">
    <xs:complexType><xs:sequence>
      <xs:element name="cognitive_style" type="xs:string" minOccurs="0"/>
      <xs:element name="philosophical_orientation" type="xs:string" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence></xs:complexType>
  </xs:element>
</xs:schema>