extensions/social/pbb-social.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://pbb.ai/extensions/social"
           xmlns:pbb="http://pbb.ai/core/v1"
           elementFormDefault="qualified"
           version="1.0">
  <xs:import namespace="http://pbb.ai/core/v1" schemaLocation="../../core/pbb-core.xsd"/>
  <xs:element name="social_profile">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="relationships" type="pbb:RelationshipsType" minOccurs="0"/>
        <xs:element name="affiliations" type="pbb:AffiliationsType" minOccurs="0"/>
        <xs:element name="communities" type="pbb:CommunitiesType" minOccurs="0"/>
        <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RelationshipsType">
    <xs:sequence>
      <xs:element name="relationship" type="pbb:RelationshipType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelationshipType">
    <xs:sequence>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="proximity" type="xs:string" minOccurs="0"/>
      <xs:element name="since" type="xs:date" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AffiliationsType">
    <xs:sequence>
      <xs:element name="affiliation" type="pbb:AffiliationType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AffiliationType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="role" type="xs:string" minOccurs="0"/>
      <xs:element name="start_date" type="xs:date" minOccurs="0"/>
      <xs:element name="end_date" type="xs:date" minOccurs="0"/>
      <xs:element name="location" type="xs:string" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CommunitiesType">
    <xs:sequence>
      <xs:element name="community" type="pbb:CommunityType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CommunityType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
      <xs:element name="joined" type="xs:date" minOccurs="0"/>
      <xs:element name="role" type="xs:string" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
