extensions/health/pbb-health.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://pbb.ai/extensions/health"
           xmlns:pbb="http://pbb.ai/core/v1"
           elementFormDefault="qualified"
           version="1.0">

  <xs:import namespace="http://pbb.ai/core/v1"
             schemaLocation="../../core/pbb-core.xsd"/>

  <xs:element name="health_profile">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="conditions" type="pbb:ConditionsType" minOccurs="0"/>
        <xs:element name="mobility" type="xs:string" minOccurs="0"/>
        <xs:element name="treatments" type="pbb:TreatmentsType" minOccurs="0"/>
        <xs:element name="wellness" type="pbb:WellnessType" minOccurs="0"/>
        <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ConditionsType">
    <xs:sequence>
      <xs:element name="condition" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TreatmentsType">
    <xs:sequence>
      <xs:element name="treatment" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="WellnessType">
    <xs:sequence>
      <xs:element name="energy_level" type="xs:string" minOccurs="0"/>
      <xs:element name="sleep_quality" type="xs:string" minOccurs="0"/>
      <xs:element name="mental_state" type="xs:string" minOccurs="0"/>
      <xs:element name="pain_level" type="xs:string" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
